15 07 01 12
1
49.4 -123.4 50
-6
0
20000
3
C:/Users/Jordan Wingenroth/Google Drive/Grad school/September 2017-/Sustainability & Society (ESPM 261)/Term project/Modeling/puffr/
RP201506.gbl
C:/Users/Jordan Wingenroth/Google Drive/Grad school/September 2017-/Sustainability & Society (ESPM 261)/Term project/Modeling/puffr/
RP201507.gbl
C:/Users/Jordan Wingenroth/Google Drive/Grad school/September 2017-/Sustainability & Society (ESPM 261)/Term project/Modeling/puffr/
RP201508.gbl
C:/Users/Jordan Wingenroth/Google Drive/Grad school/September 2017-/Sustainability & Society (ESPM 261)/Term project/Modeling/puffr/
traj--bwd-15-07-01-12-1lat_49p4_lon_-123p4-hgt_50-6h
